/* Start global style */
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h4 {
  margin: 0;
}

.wrapper {
  max-width: 1000px;
  margin: 16px auto;
  padding: 0 8px;
}

.container {
  overflow: auto;
  padding: 16px 0;
}

/* End of global style */


/* Start card style */
.card {
  display: flex;
  background-color: #fff;
  padding: 8px;
  margin-bottom: 16px;
  box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2),0px 1px 1px 0px rgba(0,0,0,0.14),0px 1px 3px 0px rgba(0,0,0,0.12);
}

.card ul {
  flex: 9;
}
/* End card style */

/* Start form style */
.form {
  background-color:#fff;
  padding: 8px;
  margin-bottom: 16px;
  text-align: center;
  box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2),0px 1px 1px 0px rgba(0,0,0,0.14),0px 1px 3px 0px rgba(0,0,0,0.12);
}

.form-header {
  font-size: 2em;
  font-weight: bold;
  color: #ff8c43;
}

.form-body {
  width: 60%;
  margin: 0 auto;
  overflow: auto;
}

.form-group label{
  display: block;
  text-align: left;
  font-weight: bold;
  padding-bottom: 4px;
  color: #665e57;
}

.form-group input{
  width: 100%;
  border: 1px solid #f0e9e9; 
  padding: 8px;
  margin-bottom: 16px;
}

.btn {
  float: right;
  background-color: #a23e48;
  border: 1px solid #821822;
  padding: 4px 8px;
  color: #fff;
  font-weight: 500;
  margin-bottom: 8px;
}
/* End of form style */